{% extends 'Front_base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Our products</h1>

    <div class="card-group container-sm">
        {% for product in products %}
            <div class="card">
                <a h><img class="card-img-top"
                          src="{{ asset('uploads/' ~ product.img) }}" width="70px" height="200px"
                          alt="Card image cap"></a>
                <div class="card-body">
                    <h5 class="card-title">{{ product.titre }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">{{ product.prix }}</p>
                    <a href="{{ path('app_crud_front_prod_show', {'id': product.id}) }}">Show</a>
                </div>
            </div>
        {% else %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">no records found</h5>
                </div>
            </div>
        {% endfor %}
    </div>

    {{ knp_pagination_render(products) }} {# Ajoutez ceci pour afficher la pagination #}
{% endblock %}
